# **Algerian Forest Fires Analysis ðŸ”¥ðŸŒ²**


**Additional Information**

The dataset includes 244 instances that regroup a data of two regions of Algeria,namely the Bejaia region located in the northeast of Algeria and the Sidi Bel-abbes region located in the northwest of Algeria.

122 instances for each region. 

The period from June 2012 to September 2012. 
The dataset includes 11 attribues and 1 output attribue (class)
The 244 instances have been classified into Ã¢â‚¬ËœfireÃ¢â‚¬â„¢ (138 classes) and Ã¢â‚¬Ëœnot fireÃ¢â‚¬â„¢ (106 classes) classes.

**Additional Variable Information**

1. Date : (DD/MM/YYYY) Day, month ('june' to 'september'), year (2012)
Weather data observations 
1. Temp : temperature noon (temperature max)  in Celsius degrees: 22 to 42
2. RH : Relative Humidity in %: 21 to 90 
3. Ws :Wind speed in km/h: 6 to 29 
4. Rain: total day in mm: 0 to 16.8
FWI Components  
1. Fine Fuel Moisture Code (FFMC) index from the FWI system: 28.6 to 92.5 
2. Duff Moisture Code (DMC) index from the FWI system: 1.1 to 65.9 
3. Drought Code (DC) index from the FWI system:  7 to 220.4
4. Initial Spread Index (ISI) index from the FWI system: 0 to 18.5 
5.  Buildup Index (BUI) index from the FWI system: 1.1 to 68
6.  Fire Weather Index (FWI) Index: 0 to 31.1
7.  Classes: two classes

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [11]:
df_main = pd.read_csv(r"Algerian_forest_fires_dataset.csv")
df = df_main.copy()
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
dtypes: object(14)
memory usage: 27.0+ KB

In [13]:
df.describe()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
count,246,245,245,245,245,245,245,245,245,245,245,245,245,244
unique,33,5,2,20,63,19,40,174,167,199,107,175,128,9
top,01,07,2012,35,55,14,0,88.9,7.9,8,1.1,3,0.4,fire
freq,8,62,244,29,10,43,133,8,5,5,8,5,12,131